@import "tailwindcss";

:root {
  --bg: #05070d;
  --fg: #e6edf3;
  --accent: #00f0ff;
  --muted: #8892b0;
}

body {
  background-color: #0b0f1a;
  color: var(--fg);
  font-family: ui-monospace, SFMono-Regular, monospace;
}

.glow {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: var(--accent);
}