@import "tailwindcss";

:root {
  --bg: #05070d;
  --fg: #e6edf3;
  --accent: #00f0ff;
  --muted: #8892b0;
}

body {
  background-color: #0b0f1a;
  color: var(--fg);
  font-family: ui-monospace, SFMono-Regular, monospace;
}

.glow {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: var(--accent);
}

.react-calendar-heatmap .color-scale-0 {
  fill: color-mix(in srgb, var(--accent) 10%, var(--bg) 90%)
}

.react-calendar-heatmap .color-scale-1 {
  fill: color-mix(in srgb, var(--accent) 30%, var(--bg) 70%)
}

.react-calendar-heatmap .color-scale-2 {
  fill: color-mix(in srgb, var(--accent) 50%, var(--bg) 50%)
}

.react-calendar-heatmap .color-scale-3 {
  fill: color-mix(in srgb, var(--accent) 70%, var(--bg) 30%)
}

.react-calendar-heatmap .color-scale-4 {
  fill: color-mix(in srgb, var(--accent) 90%, var(--bg) 10%)
}